# Cleaning and Pre-Processing Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('20210320_0047ios_app.csv')
df.shape

(27139, 5)

In [3]:
df.head()

,Country,Date,Rating,Review,Version
0,US,2021-03-18,1,"Knowing my shares aren’t real, means RH IS MAN...",-
1,US,2021-03-18,1,This company is currently under investigation ...,-
2,US,2021-03-18,1,"They sell your data to MM, halt trading when i...",-
3,US,2021-03-18,1,Easy and simple to use but for the love of god...,-
4,US,2021-03-18,5,Easy to learn & Use,-

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27139 entries, 0 to 27138
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  27139 non-null  object
 1   Date     27139 non-null  object
 2   Rating   27139 non-null  int64
 3   Review   27137 non-null  object
 4   Version  27139 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

### Cleaning Missing Values

In [5]:
df.isnull().sum()

Country    0
Date       0
Rating     0
Review     2
Version    0
dtype: int64

In [6]:
df[df.isnull().any(axis=1)]

      Country        Date  Rating Review Version
1019       US  2021-03-11       1    NaN   9.4.0
21480      US  2021-01-22       5    NaN  8.63.0

In [7]:
df.dropna(inplace=True)

In [8]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Country, Date, Rating, Review, Version]
Index: []

### Droping Unecessary Data

In [9]:
df['Country'].describe()

count     27137
unique        1
top          US
freq      27137
Name: Country, dtype: object

In [10]:
df['Version'].describe()

count     27137
unique       28
top           -
freq      10111
Name: Version, dtype: object

In [11]:
df.drop(columns=['Country', 'Version'], inplace=True)
df.head()

         Date  Rating                                             Review
0  2021-03-18       1  Knowing my shares aren’t real, means RH IS MAN...
1  2021-03-18       1  This company is currently under investigation ...
2  2021-03-18       1  They sell your data to MM, halt trading when i...
3  2021-03-18       1  Easy and simple to use but for the love of god...
4  2021-03-18       5                                Easy to learn & Use

### Change Column Data Types

In [12]:
df['Date'] = pd.to_datetime(df['Date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27137 entries, 0 to 27138
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    27137 non-null  datetime64[ns]
 1   Rating  27137 non-null  int64
 2   Review  27137 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 848.0+ KB

### Verify Data Consistency

#### Looking for Strings with Whitespaces Only

In [14]:
blanks = []

for ID, DATE, RATING, REVIEW in df.itertuples():
    if type(REVIEW)==str:
        if REVIEW.isspace():
            '''The isspace() method returns True if there are only whitespace characters in the string.
            If not, it return False. Characters such as tabs, spaces, newline that are used for spacing
            are called whitespace characters.'''
            blanks.append(ID)

In [15]:
blanks

[]

In [ ]:
# In case we had reviews with whitespaces only we would drop them
# df.drop(blanks, inplace=True)

#### Rating Values

In [16]:
df['Rating'].describe()

count    27137.000000
mean         2.553967
std          1.834600
min          1.000000
25%          1.000000
50%          1.000000
75%          5.000000
max          5.000000
Name: Rating, dtype: float64

In [17]:
df.Rating.unique()

array([1, 5, 4, 2, 3], dtype=int64)

In [18]:
df

            Date  Rating                                             Review
0     2021-03-18       1  Knowing my shares aren’t real, means RH IS MAN...
1     2021-03-18       1  This company is currently under investigation ...
2     2021-03-18       1  They sell your data to MM, halt trading when i...
3     2021-03-18       1  Easy and simple to use but for the love of god...
4     2021-03-18       5                                Easy to learn & Use
...          ...     ...                                                ...
27134 2020-12-20       5  I love this app and it’s the best out their fo...
27135 2020-12-20       5  The app is simple, organized and has good cont...
27136 2020-12-20       4  I really like the ease of using this app, but ...
27137 2020-12-20       1  I’ve been reaching out to them for over 3 week...
27138 2020-12-20       3  The app is great and I commend them for changi...

[27137 rows x 3 columns]

In [19]:
df.to_csv("ios_app_clean.csv", index=False)